/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300&display=swap');

/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*GLOBAL*/
h1 {
    color: #CBBD6C;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 95px;
    line-height: 0.9;
}

h2 {
    color: #CBBD6C;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 56px;
    line-height: 0.9;
    text-align: center;
}

h3 {
    color: #CBBD6C;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
}

h4 {
    color: #F8F8F8;
    font-family: 'Raleway', sans-serif;
    font-size: 23.5px;
}


p {
    color: #F8F8F8;
    font-family: 'Raleway', sans-serif;
}

hr {
    border: 2px solid #A08150;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-top {
    margin-top: 100px;
}


.main {
    width: 100vw;
    background-color: #2B2D31;
    display: flex;
    justify-content: center;
}

.container-main {
    background-color: #313338;
    margin-top: 40px;
    border-radius: 15px;
    width: 100%;
    max-width: 1024px;
    border: 2px solid #A08150;
    margin-bottom: 20px;
}

.intro {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container-profile {
    width: 40%;
}

.img-profile {
    width: 75%;
    border-radius: 100%;
    border: 5px solid #A08150;
}

.container-name {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1% 5% 0% 0%;
    gap: 3%;
}

.container-projects {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 70px;
    width: 100%;
    gap: 5%;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45%;
    flex-wrap: wrap;
}

.container-projects .project-img {
    background-color: #CBBD6C;
    width: 400px;
    border-radius: 5px;
    position: relative;
    height: 210px;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
}

.tools-bar {
    height: 60px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.tools-bar img {
    height: 90%;
}

.container-projects .project-img a {
    width: 100%;
    height: 100%;
}

.container-projects .project-img a img {
    width: 95%;
    transition:all 250ms ease-out;
}

.container-projects .project-img a  .project-des{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2b2d31f8;
    visibility: hidden;
    color: #F8F8F8;
    font-family: 'Raleway', sans-serif;
    padding: 8%;
    transition:all 250ms ease-out;
    border: 1px solid #CBBD6C;
    border-radius: 5px;
    opacity: 0;
    font-size: 20px;
}

.container-projects .project-img a:hover > .project-des{
    visibility: visible;
    opacity: 1;
}



.container-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subcontainer-info {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.container-txt {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-txt p {
    font-size: 20px;
}

.external-link {
    text-decoration: none;
    display: flex;
}

.external-link h3 {
    font-size: 40px;
}

.external-link img {
    height: 15px;
}

.img-contat {
    width: 70%;
}

.container-contacts {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-contact {

    display: flex;
    justify-content: center;
    margin: 5%;
    width: 60%;
}

.ul-contact a {
    display: flex;
    justify-content: center;
}


.footer {
    width: 100%;
    padding-left: 20px;
    background-color: #A08150;
}

.color-dark {
    color: #2B2D31;
    font-weight: bold;
    font-size: 18px;
}

.container-slider {
    margin-top: 40px;
}

/*Infinite slider*/
.slider {
    width: 60%;
    overflow: hidden;
    border-radius: 8px;
}

.slide-track {
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width: calc(100px * 12);
}

.slide {
    width: 100px;
}

.slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-100px*6));
        transform: translateX(calc(-100px*6));
    }
}


/*MEDIUM SCREENS*/

/*SMALL SCREENS*/

@media screen and (max-width:426px) {
    .main {
        width: 425px;
    }

    .container-main {
        width: 320px;
    }

    .intro {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .img-profile {
        height: 250px;
        width: 250px;
    }

    .container-name {
        width: 90%;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .container-name h1 {
        font-size: 25px;
    }

    .container-name h3 {
        font-size: 18px;
    }

    .container-name h4 {
        font-size: 16px;
    }

    .container-projects {
        flex-direction: column;
        gap: 60px;
        padding: 0%;
    }

    .project {
        width: 100%;
    }

    .project .project-img {
        width: 90%;
    }

    .project-img img {
        width: 90%;
    }

    .ul-contact {
        flex-wrap: wrap;
    }

    .container-info {
        flex-direction: column;
        width: 100%;
    }

    .subcontainer-info {
        width: 100%;
    }

    .movil-margin {
        margin-top: 10px;
    }

    h2 {
        font-size: 48px;
    }

    .container-name h1 {
        font-size: 60px;
    }

    .container-name h3 {
        font-size: 30px;
    }
}